@{
    ViewData["Title"] = "Rules";
}
<h1>@ViewData["Title"]</h1>

<img src="~/imgs/random.png" alt="random_pic" /> <br />

<h2>Welcome page</h2>
<img src="~/imgs/welcome.png" alt="welcome_pic" /> <br />
<ol>
    <li>Start page is a settings screen. </li>
    <li>In a select box one may choose number of questions to answer (from 1 to 5, by default 1).</li>
    <li>Then, to start a game, one should press "Go!" button.</li>
    <li>In case one wants to read rules, hyperlinks are available both on the top of any site page, and in the settings page.</li>
    <li> The top of any site page also has link to the start page.</li>
</ol>


<h2>Game page</h2>
<img src="~/imgs/game.png" alt="game_pic" /> <br />
<ol>
    <li>Game page depicts your current score, button "50:50", question text, answers, buttons "Submit answer" and "Start over".</li>
    <li>Current score increases by 1 000 000 / amount of questions each answer.</li>
    <li>To choose the answer, press a circle to the left side of it.</li>
    <li>When "50:50" button is pressed, 2 answers are shadowed and made impossible to choose.</li>
    <li>Answers scores, when button "Submit answer" is pressed, and the answer is chosen.</li>
    <li>If the answer is not chosen, one is suggested to choose it once again.</li>
    <li>If the answer is incorrect, the game finishes.</li>
    <li>If the answer is correct, and 1 000 000 has not been achieved, the next question is provided.</li>
    <li>If the answer is correct, and 1 0000 000 has been achieved, the game finishes.</li>
    <li>If the "Start over" button is pressed, the game returns to the settings page.</li>
</ol>
