@model Game

@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <button class="btn btn-primary">50:50</button>
    <div id="score">Score: @Model.score</div>
    <form asp-controller="Home" asp-action="Index">
        <button class="btn btn-primary">Start over!</button>
    </form>    
</div>