@model Game

@{
    ViewData["Title"] = "Game";
}

<div class="text-center">
    <button class="btn btn-primary">50:50</button>
    <div id="score">Score: @Model.score</div>
    <div id="question">
    @Model.answers.Count
    </div>
</div>