@{
    ViewData["Title"] = "Millionaire";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Wanna become a millionaire?</h1>
        <p>Probably, firstly you should the <a asp-area="" asp-controller="Home" asp-action="Rules">rules</a>.</p>
        <p>If ready to try your luck, choose, how many questions you want to be asked.</p>
    </div>
    <form asp-controller="Home" asp-action="Game">
        <select>
            @{
                for(int i = 1; i < 6; i++)
                {
                    <option>@i</option>
                }
            }
        </select><br /><br />
        <button class="btn btn-primary">Go!</button>
    </form>
</div>
